﻿@model MinPro180.ViewModel.TrainerViewModel


@using (Html.BeginForm("Delete", "Trainer", FormMethod.Post, new { id = "Edit-form", name = "Edit-form" }))
{
    

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)

        <div class="form-group">
            @Html.LabelFor(Model=>Model.active, htmlAttributes: new { @class="control-label col-md-2"})
            <div class="col-lg-10">
                @Html.EditorFor(Model => Model.status, new { HtmlAttribute = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.active, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="btn-group btn-group-sm">
                    <input type="submit" value="Deactive" class="btn btn-warning" />
                    <input type="button" value="Cancel" class="btn btn-default" data-dismiss="modal" />
                </div>
            </div>
        </div>
    </div>
}
    @Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript">
    $("#Edit-form").submit(function () {
        //alert($(this).serialize());
        $.ajax({
            url: '@Url.Action("Delete", "Trainer")',
            type: this.method,
            data: $(this).serialize(),
            success: function (result) {
                if (result.success) {
                    alert("Data Successfully Deactivated !");
                    $(".modal").modal("hide");
                    GetList();
                } else {
                    alert("error! " + result.message);
                }
            }
        });
        return false;
    });
</script>