﻿@model IEnumerable<MinPro180.ViewModel.TrainerViewModel>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.active)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                <div class="dropdown">
                    <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                        @*<span class="caret"></span>*@
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li class="edit" data-id="@item.id"><a href="#">Edit</a></li>
                        <li class="delete" data-id="@item.id"><a href="#">Delete</a></li>
                    </ul>
                </div>
            </td>
        </tr>
    }

</table>
<script type="text/javascript">
    $(".edit").click(function () {
        $.ajax({
            url: '@Url.Action("Edit", "Trainer")',
            type: 'get',
            data: { id: $(this).attr("data-id") },
            success: function (result) {
                $(".modal-title").html("TRAINER");
                $(".modal-body").html(result);
                $(".modal").modal("show");
            }
        })
    })
</script>

<script type="text/javascript">
    $(".delete").click(function () {
        $.ajax({
            url: '@Url.Action("Delete", "Trainer")',
            type: 'get',
            data: { id: $(this).attr("data-id") },
            success: function (result) {
                $(".modal-title").html("Deactivate Trainer?");
                $(".modal-body").html(result);
                $(".modal").modal("show");
            }
        })
    })
</script>