﻿@model MinPro180.ViewModel.AssignmentViewModel

@using (Html.BeginForm("Edit", "Assignment", FormMethod.Post, new { id = "edit-form", name = "edit-form" }))
{
	
	@Html.HiddenFor(model=>model.id)

	<div class="form-horizontal">

		@Html.ValidationSummary(true, "", new { @class = "text-danger" })
		<div class="form-group">

			<div class="col-md-12">
				@Html.DropDownListFor(model => model.biodata_id,(IEnumerable<SelectListItem>)
			 ViewBag.Biodatalist, "--Select Name--", new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.biodata_id, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">

			<div class="col-md-12">
				@Html.EditorFor(model => model.title, new { htmlAttributes = new { @class = "form-control", @placeholder = "Title" } })
				@Html.ValidationMessageFor(model => model.title, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">

			<div class="col-md-12">
				@Html.EditorFor(model => model.start_date, new { htmlAttributes = new { @class = "form-control", @placeholder = "Start Date" } })
				@Html.ValidationMessageFor(model => model.start_date, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">

			<div class="col-md-12">
				@Html.EditorFor(model => model.end_date, new { htmlAttributes = new { @class = "form-control", @placeholder = "End Date" } })
				@Html.ValidationMessageFor(model => model.end_date, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">

			<div class="col-md-12">
				@Html.TextAreaFor(model => model.description, 6, 40, new { @class = "form-control", @placeholder = "Notes" })
				@Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
			</div>
		</div>


		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Save" class="btn btn-warning" />
				<input type="button" value="Cancel" class="btn btn-default" data-dismiss="modal" />
			</div>
		</div>
	</div>
}

@Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript">
    $("#edit-form").submit(function () {
        //alert($(this).serialize());
        $.ajax({
			url: '@Url.Action("Edit","Assignment")',
			type: this.method,
            data: $(this).serialize(),
            success: function (result) {
                if (result.success) {
                    alert("Data Successfully Updated");
                    $(".modal").modal("hide");
                    GetList();
                } else {
                    alert("Error!." + result.message)
                }
            }
        });
        return false;
    });

</script>
