﻿@model MinPro180.ViewModel.AssignmentViewModel

@using (Html.BeginForm("Hold", "Assignment", FormMethod.Post, new { id = "hold-form", name = "hold-form" }))
{
	

<div class="form-horizontal">

	@Html.ValidationSummary(true, "", new { @class = "text-danger" })
	@Html.HiddenFor(model => model.id)
	@Html.HiddenFor(model => model.biodata_id)
	@Html.HiddenFor(model => model.realization_date)
	@Html.HiddenFor(model => model.notes)




	<div class="form-group">
		@Html.LabelFor(model => model.is_hold, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			<div class="checkbox">
				@Html.EditorFor(model => model.is_hold)
				@Html.ValidationMessageFor(model => model.is_hold, "", new { @class = "text-danger" })
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="col-md-offset-2 col-md-10">
			<input type="submit" value="Hold" class="btn btn-warning" />
			<input type="button" value="Cancel" class="btn btn-default" data-dismiss="modal" />
		</div>
	</div>
</div>
}

@Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript">
    $("#hold-form").submit(function () {
        //alert($(this).serialize());
        $.ajax({
			url: '@Url.Action("Hold","Assignment")',
			type: this.method,
            data: $(this).serialize(),
            success: function (result) {
                if (result.success) {
                    alert("Data Successfully Hold");
                    $(".modal").modal("hide");
                    GetList();
                } else {
                    alert("Error!." + result.message)
                }
            }
        });
        return false;
    });
</script>
