﻿@{

    ViewBag.Title = "Assignment";
}
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-lg-3">
                <div class="input-group">
                    <input type="text" class="form-control" id="txt" placeholder="Search By Name" />
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
            <div class="col-lg-2 col-lg-push-6">
                <button type="button" class="btn btn-warning btn-new">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-12" id="table-list">
                <h1>Loading...</h1>
                <h8>List is here.. :)</h8>
            </div>
        </div>
    </div>
</div>

@* Modal *@
<div class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #ffad5b">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Create</h4>
            </div>
            <div class="modal-body">
                <p>One fine body&hellip;</p>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            GetList();
        });


        function GetList(){
            $.ajax({
                url: '@Url.Action("List","Assignment")',
				type: 'get',
				data: { search: $("#txt").val() },
                success: function (result) {
                    $("#table-list").html(result);
                },
                error: function (err) {
                    $("#table-list").html(err);
                }
            });
		}
		$("#txt").keyup(function () {
	    $.ajax({
            url: '@Url.Action("List", "Monitoring")',
            type: 'get',
            data: { search: $("#txt").val()},
            success: function (result) {
             GetList();
				 }
			 });
		})


		$('.btn-new').click(function () {
		$.ajax({
			url: '@Url.Action("Create", "Assignment")',
			type: 'get',
			success: function (result) {
				$(".modal-title").html("Add Idle")
				$(".modal-body").html(result);
				$(".modal").modal("show")
			},
			error: function (err) {
				alert(err);
			}
		});

	});
    </script>
}
