﻿@model MinPro180.ViewModel.MonitoringViewModel


@using (Html.BeginForm("Placement", "Monitoring", FormMethod.Post, new { id = "place-form", name = "place-form" }))
{
	<div class="form-horizontal">
	
		@Html.ValidationSummary(true, "", new { @class = "text-danger" })
		@Html.HiddenFor(model => model.id)
		@Html.HiddenFor(model=>model.biodata_id)
		@Html.HiddenFor(model=>model.idle_date)

		<div class="form-group">
			<div class="col-md-12">
				@Html.EditorFor(model => model.placement_date, new { htmlAttributes = new { @class = "form-control", @placeholder = "Placement Date" } })
				@Html.ValidationMessageFor(model => model.placement_date, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-12">
				@Html.EditorFor(model => model.placement_at, new { htmlAttributes = new { @class = "form-control", @placeholder = "Placement at" } })
				@Html.ValidationMessageFor(model => model.placement_at, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">

			<div class="col-md-12">
				@Html.TextAreaFor(model => model.notes, 6, 40, new { @class = "form-control", @placeholder = "Notes" })
				@Html.ValidationMessageFor(model => model.notes, "", new { @class = "text-danger" })
			</div>
		</div>


		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Save" class="btn btn-warning" />
				<input type="button" value="Cancel" class="btn btn-default" data-dismiss="modal" />
			</div>
		</div>
	</div>
}

@Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript">
    $("#place-form").submit(function () {
        //alert($(this).serialize());
        $.ajax({
			url: '@Url.Action("Placement","Monitoring")',
			type: this.method,
            data: $(this).serialize(),
            success: function (result) {
                if (result.success) {
                    alert("Data Successfully Added !");
                    $(".modal").modal("hide");
                    GetList();
                } else {
                    alert("Error!." + result.message)
                }
            }
        });
        return false;
    });

</script>