﻿@model MinPro180.ViewModel.MenuAccessViewModel


@using (Html.BeginForm("Create", "MenuAccess", FormMethod.Post, new { id = "create-form", name = "create-form" }))
{
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.menu_id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
               @Html.DropDownListFor(model => model.menu_id, (IEnumerable<SelectListItem>)ViewBag.MenuList, "-- Select List --", new { @class = "form-control" })
                @*@Html.EditorFor(model => model.menu_id, new { @class= "form-control"})*@
                @Html.ValidationMessageFor(model => model.menu_id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.role_id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.role_id, (IEnumerable<SelectListItem>)ViewBag.RoleList, "-- Select Role --", new { @class = "form-control"})
                @Html.ValidationMessageFor(model => model.role_id, "", new { @class = "text-danger" })
            </div>
        </div>

        

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="btn-group btn-group-sm">
                    <input type="submit" value="Save" class="btn btn-warning" />
                    <input type="button" value="Cancel" class="btn btn-default" data-dismiss="modal" />
                </div>
            </div>
        </div>
    </div>
}




    @Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript">
    $("#create-form").submit(function (result) {
        $.ajax({
            url: '@Url.Action("Create", "MenuAccess")',
            type: this.method,
            data: $(this).serialize(),
            success: function (result) {
                if (result.success) {
                    alert("Data Successfully Added");
                    $(".modal").modal("hide");
                    GetList();
                } else {
                    alert("Error .." + result.message);
                }
            }
        });
        return false;
    });
</script>
