﻿@model MinPro180.ViewModel.MenuAccessViewModel

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.menu_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.menu_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.role_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.role_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>


    </dl>

    @using (Html.BeginForm("Delete", "MenuAccess", FormMethod.Post, new { id = "delete-form", name = "delete-form" }))
    {
        
        @Html.HiddenFor(model => model.id)

        <div class="form-group">
            <div class="form-actions no-color">
                <div class="btn-group btn-group-sm">
                    <input type="submit" value="Delete" class="btn btn-danger" />
                    <input type="button" value="Cancel" class="btn btn-default" data-dismiss="modal" />
                </div>
            </div>
        </div>

    }
</div>

<script type="text/javascript">
    $("#delete-form").submit(function () {
        $.ajax({
            url: '@Url.Action("Delete","MenuAccess")',
            type: this.method,
            data: $(this).serialize(),
            success: function (result) {
                if (result.success) {
                    alert("Data Successfully Deleted");
                    $(".modal").modal("hide");
                    GetList();
                } else {
                    alert("error .." + result.message);
                }
            }
        });
        return false;
    });
</script>

