﻿@{
    ViewBag.Title = "Menu Access";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            @*<h3 style="color: red; font-family: 'Bookman Old Style'">Data Menu Access</h3>*@
            <div class="col-lg-3" id="role-list">
                @Html.DropDownList("role_id", (IEnumerable<SelectListItem>)ViewBag.RoleList, "-- Select Role --", new { @class = "form-control" })
            </div>
            
            <div class="col-lg-1 pull-right">
                <button type="button" id="btn-new" class="btn btn-warning btn-sm"><span class="glyphicon glyphicon-plus"></span></button>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-12" id="table-list">
                <h3>Loading...</h3>
            </div>
        </div>
    </div>
</div>

@*--------------modal------------------*@

<div class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #ffad5b; font-family: 'Bookman Old Style'"">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <p>One fine body&hellip;</p>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
@*--------------JS------------------*@

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            GetList();

        });

        $("#btn-new").click(function () {
            $.ajax({
                url: '@Url.Action("Create", "MenuAccess")',
                type: 'get',
                success: function (result) {
                    $(".modal-title").html("Create New Menu Access");
                    $(".modal-body").html(result);
                    $(".modal").modal("show");
                },
                error: function (err) {
                    alert(err);
                }
            });
        });

        function GetList() {
            $.ajax({
                url: '@Url.Action("List", "MenuAccess")',
                type: 'get',
                success: function (result) {
                    $("#table-list").html(result);
                }, error(err) {
                    $("#table-list").html(err);
                }
            });
        }

        $(".btn-src").click(function () {
            $.ajax({
                url: '@Url.Action("search", "MenuAccess")',
                type: 'get',
                data: {key: $("#role_id").val()},
                success: function (result) {
                    $("#table-list").html(result);
                }
            });
        })

        $("#role_id").change(function () {
            if ($(this).val() == "") {
                $.ajax({
                    url: '@Url.Action("List", "MenuAccess")',
                    type: 'get',
                    success: function (result) {
                        $("#table-list").html(result);
                    }
                });
            }
            if ($(this).val()) {
                $.ajax({
                    url: '@Url.Action("search", "MenuAccess")',
                    type: 'get',
                    data: { key: $("#role_id").val() },
                    success: function (result) {
                        $("#table-list").html(result);
                    }
                });
            }
        });
    </script>

}
