﻿@model MinPro180.ViewModel.TechnologyViewModel

@using (Html.BeginForm("Delete", "Technology", FormMethod.Post, new { id = "Edit-form", name = "Edit-form" }))
{
    
    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)

        <div class="form-group">
            @*@Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.notes, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.notes, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.notes, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="btn-group btn-group-sm">
                    <input type="button" value="Cancel" class="btn btn-default" data-dismiss="modal" />
                    <input type="submit" value="Deactivate" class="btn btn-warning" />
                </div>
            </div>
        </div>
    </div>
}

@Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript">
    $("#Edit-form").submit(function () {
        //alert($(this).serialize());
        $.ajax({
            url: '@Url.Action("Delete","technology")', type: this.method,
            data: $(this).serialize(),
            success: function (result) {
                if (result.success) {
                    alert("Deactivate Technology Successful ");
                    $(".modal").modal("hide");
                    location.reload();
                } else {
                    alert("Error!." + result.message)
                }
            }
        });
        return false;
    });
</script>
