﻿@{
    ViewBag.Title = "Technology";
}
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-lg-3">
                <div class="input-group">
                    <input type="text" class="form-control" id="txt" placeholder="Search by Name" />
                </div>
            </div>
            <div class="col-lg-2 col-lg-offset-7">
                <button type="button" id="btn-new" class="btn btn-warning">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-12" id="table-list">
                <h3>LOADING...</h3>
                <h5>Nanti listnya ada di sini...</h5>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            GetList();
        });
        function GetList() {
            $.ajax({
                url: '@Url.Action("List", "Technology")',
                type: 'get',
                data: { search: $("#txt").val() },
                success: function (result) {
                    $("#table-list").html(result);
                },
                error: function (err) {
                    $("#table-list").html(err);
                }
            });
        }

        $('#btn-new').click(function () {
            $.ajax({
                url: '@Url.Action("Create","Technology")',
                type: 'get',
                success: function (result) {
                    $("#mvertitle").html("TECHNOLOGY")
                    $("#mverbody").html(result);
                    $("#mver").modal("show")
                },
                error: function (err) {
                    alert(err);
                }
            });
        });

        $("#txt").keyup(function () {
            $.ajax({
                url: '@Url.Action("List", "Technology")',
                type: 'get',
                data: { search: $("#txt").val() },
                success: function (result) {
                    GetList();
                }
            });
        });

    function RemoveItem(obj) {
    var tr = $(obj).closest("tr");
    if (confirm("Delete Trainer?")) {
    tr.remove();
    }
    }
    </script>
}