﻿@model MinPro180.ViewModel.BootcampTypeViewModel


@using (Html.BeginForm("Create", "BootcampType", FormMethod.Post, new { id = "create-form", name = "create-form" }))
{
    

    <div class="form-horizontal">
     
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                <div>
                    <span id="valname" style="color: red" hidden>*Nama harus diisi</span>
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.notes, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.notes, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.notes, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="btn-group btn-group-sm">
                    <input type="submit" value="Create" class="btn btn-warning" />
                    <input type="button" value="Cancel" class="btn btn-default" data-dismiss="modal" />
                </div>
            </div>
        </div>
    </div>
}

    @Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript">
    $("#name").on('input', function (even) { this.value = this.value.replace(/[^a-zA-Z]/g, ''); });
    $("#create-form").submit(function () {
        if ($("#name").val() == "") { $("#valname").show(); } else { $("#valname").hide(); }
        $.ajax({
            url: '@Url.Action("Create", "BootcampType")',
            type: this.method,
            data: $(this).serialize(),
            success: function (result) {
                if (result.success) {
                    alert("Data Bootcampt Type Added");
                    $(".modal").modal("hide");
                    GetList();
                }
                else
                {
                    alert("Error" + result.message);
                }
            }
        });
        return false;
    });
</script>
