﻿@model MinPro180.ViewModel.BiodataViewModel


@using (Html.BeginForm("Create", "Biodata", FormMethod.Post, new { id = "create-form", name = "create-form" }))
{
	

	<div class="form-horizontal">
		
		@Html.ValidationSummary(true, "", new { @class = "text-danger" })
		<div class="form-group">
			
			<div class="col-md-12">
				@Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control", @placeholder="Name"} })
				@Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
			</div>
		</div>



		<div class="form-group">
			
			<div class="col-md-12">
				@Html.EditorFor(model => model.last_education, new { htmlAttributes = new { @class = "form-control", @placeholder = "Last Education" } })
				@Html.ValidationMessageFor(model => model.last_education, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			
			<div class="col-md-12">
				@Html.EditorFor(model => model.educational_level, new { htmlAttributes = new { @class = "form-control", @placeholder = "Education Level" } })
				@Html.ValidationMessageFor(model => model.educational_level, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			
			<div class="col-md-12">
				@Html.EditorFor(model => model.graduation_year, new { htmlAttributes = new { @class = "form-control", @placeholder = "Graduation Year" } })
				@Html.ValidationMessageFor(model => model.graduation_year, "", new { @class = "text-danger" })
			</div>
		</div>


		<div class="form-group">
			
			<div class="col-md-12">
				@Html.EditorFor(model => model.majors, new { htmlAttributes = new { @class = "form-control", @placeholder = "Majors" } })
				@Html.ValidationMessageFor(model => model.majors, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			
			<div class="col-md-12">
				@Html.EditorFor(model => model.gpa, new { htmlAttributes = new { @class = "form-control",@type="number", @placeholder = "GPA" } })
				@Html.ValidationMessageFor(model => model.gpa, "", new { @class = "text-danger" })
			</div>
		</div>


		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Save" class="btn btn-warning" />
				<input type="button" value="Cancel" class="btn btn-default" data-dismiss="modal" />
			</div>
		</div>
	</div>
}

@Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript">
    $("#create-form").submit(function () {
        //alert($(this).serialize());
        $.ajax({
			url: '@Url.Action("Create","Biodata")',
			type: this.method,
            data: $(this).serialize(),
            success: function (result) {
                if (result.success) {
                    alert("Data Successfully Added");
                    $(".modal").modal("hide");
                    GetList();
                } else {
                    alert("Error!." + result.message)
                }
            }
        });
        return false;
    });

</script>