﻿@model MinPro180.ViewModel.BiodataViewModel

@using (Html.BeginForm("Deactivate", "Biodata", FormMethod.Post, new { id = "edit-form", name = "edit-form" }))
{
	
	@Html.ValidationSummary(true, "", new { @class = "text-danger" })
	@Html.HiddenFor(model => model.id)

	<h5>Are you sure you want to deactivate "@Model.name"?</h5>

	<div class="form-horizontal">
		<div class="form-group">
			<div class="col-md-offset-6 col-md-6">
				<input type="submit" value="Deactivate" class="btn btn-warning" />
				<input type="button" value="Cancel" class="btn btn-default" data-dismiss="modal" />
			</div>
		</div>
	</div>
}

@Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript">
    $("#edit-form").submit(function () {
       //alert($(this).serialize());
        $.ajax({
			url: '@Url.Action("Deactivate","Biodata")',
			type: this.method,
            data: $(this).serialize(),
            success: function (result) {
                if (result.success) {
                    alert("Data Successfully Deactivated");
                    $(".modal").modal("hide");
                    GetList();
                } else {
					alert("Error!." + result.message);
                }
            }
        });
        return false;
	});
</script>