﻿@{
    ViewBag.Title = "Feedback";
}

@using (Html.BeginForm("Create", "Feedback", FormMethod.Post, new { id = "create-form", name = "create-form" }))
{
    <div class="panel panel-heading panel-default">
        <div class="testlist">
            Hi hi
        </div>
    </div>
    <div class="panel panel-body">
        <div class="table-list">
            Hi halo
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-8 col-md-4">
            <div class=" btn-group btn-group-sm">
                <input type="submit" value="Save" class="btn btn-warning btn-lg" />
            </div>
        </div>
    </div>
}
@section Scripts{
    <script type="text/javascript">
    $(document).ready(function () {
        GetList();
    });

    function GetList() {
        $.ajax({
                url: '@Url.Action("Test","Feedback")',
                type: 'get',
                success: function (result) {
                    $(".testlist").html(result);
                },
                error: function (err) {
                    $(".testlist").html(err);
                }
        });
        $.ajax({
                url: '@Url.Action("List","Feedback")',
                type: 'get',
                success: function (result) {
                    $(".table-list").html(result);
                },
                error: function (err) {
                    $(".table-list").html(err);
                }
            });

        }

        $("#create-form").submit(function () {

            var qList = [];
            $(this).find("#question-list").find("tr").each(function () {
                var list = { id: $(this).find("input[name='item.question_id']").val(), question: $(this).find("input[name='item.question']").val(), answer: $(this).find("textarea[name='answer']").val() }
                qList.push(list);
            });

            var data = { test_id: $(this).find("#test_id").val(), version_id: $(this).find("#item_version_id").val(), json_feedback: JSON.stringify(qList)};
            //alert(JSON.stringify(data));

            $.ajax({
                url: this.action,
                type: this.method,
                data: { model: data },
                success: function (result) {
                    if (result.success) {
                        alert("Data Successfully Submitted !");
                        GetList();
                    } else {
                        alert("Error!." + result.message)
                    }
                }
            });
            return false;
        });
    </script>
}