﻿@model MinPro180.ViewModel.QuestionViewModel


@using (Html.BeginForm("Create", "Question", FormMethod.Post, new { id = "create-form", name = "create-form" }))
{
    @**@

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            
            @Html.LabelFor(model => model.question, htmlAttributes: new { @class = "control-label col-md-2" })
            <div>
                <div class="form-group">
                    @Html.TextAreaFor(model => model.question,4,60, new { htmlAttributes = new { @class = "form-control", placeholder = Html.DisplayNameFor(model => model.question) } })
                    @Html.ValidationMessageFor(model => model.question, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class=" btn-group btn-group-sm">
                    <input type="submit" value="Save" class="btn btn-warning btn-sm" />
                    <input type="button" value="Cancel" class="btn btn-default btn-sm" data-dismiss="modal" />
                </div>
            </div>
        </div>
    </div>

}

@Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript">
    $("#create-form").submit(function () {
        //alert($(this).serialize());
        $.ajax({
            url: '@Url.Action("Create","Question")', type: this.method,
            data: $(this).serialize(),
            success: function (result) {
                if (result.success) {
                    alert("Data Successfully Added");
                    $(".modal").modal("hide");
                    GetList();
                } else {
                    alert("Error!." + result.message)
                }
            }
        });
        return false;
    });

</script>
