﻿@model MinPro180.ViewModel.QuestionViewModel

@using (Html.BeginForm("Delete", "Question", FormMethod.Post, new { id = "delete-form", name = "delete-form" }))
{
   

    <div class="form-horizontal">
        @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
        @Html.HiddenFor(model => model.id)

        <div class="form-group">
            @Html.LabelFor(model => model.question, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.question, new { htmlAttributes = new { @class = "form-control", @readonly = "true"} })
                @*@Html.ValidationMessageFor(model => model.question, "", new { @class = "text-danger" })*@
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class=" btn-group btn-group-sm">
                    <input type="submit" value="Delete" class="btn btn-warning btn-sm" />
                    <input type="button" value="Cancel" class="btn btn-default btn-sm" data-dismiss="modal" />
                </div>
            </div>
        </div>
    </div>
}


@Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript">
    $("#delete-form").submit(function () {
        //alert($(this).serialize());
        $.ajax({
            url: '@Url.Action("Delete","Question")', type: this.method,
            data: $(this).serialize(),
            success: function (result) {
                if (result.success) {
                    alert("Data Successfully Deleted");
                    $(".modal").modal("hide");
                    GetList();
                } else {
                    alert("Error!." + result.message)
                }
            }
        });
        return false;
    });
</script>