﻿
@{
    ViewBag.Title = "Testimony";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-lg-3">
                <div class="input-group">
                    <input type="text" class="form-control" id="txt" placeholder="Search by Tilte" />
                </div>
            </div>
            <div class="col-lg-2 col-lg-offset-7">
                <button type="button" id="btn-new" class="btn btn-warning">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-12" id="table-list">
                <h3>LOADING...</h3>
                <h5>Nanti listnya ada di sini...</h5>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #ffad5b">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <p>One fine body&hellip;</p>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

@section Scripts{
<script type="text/javascript">
        $(document).ready(function () {
            GetList();
        });
        function GetList() {
            $.ajax({
                url: '@Url.Action("List", "Testimony")',
                type: 'get',
                data: { search: $("#txt").val() },
                success: function (result) {
                    $("#table-list").html(result);
                },
                error: function (err) {
                    $("#table-list").html(err);
                }
            });
        }

    $("#txt").keyup(function () {
        $.ajax({
            url: '@Url.Action("List", "Testimony")',
            type: 'get',
            data: { search: $("#txt").val()},
            success: function (result) {
                GetList();
            }
            });
        })

    </script>
}

