﻿
@{
    ViewBag.Title = "Idle News";
}

    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-lg-3">
                    <input type="text" id="txt-search" placeholder="Search by title" class="form-control" />
                </div>
      
                <div class="col-lg-1 pull-right">
                    <button type="button" id="btn-new" class="btn btn-warning btn-sm"><span class="glyphicon glyphicon-plus"></span></button>
                </div>

            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12" id="table-list">
                    <h3>Loading...</h3>
                </div>
            </div>
        </div>
    </div>


@*--------------modal------------------*@

<div class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #ffad5b; font-family: 'Bookman Old Style'"">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <p>One fine body&hellip;</p>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

@*--------------JS------------------*@

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            GetList();
        });

        $("#btn-new").click(function () {
            $.ajax({
                url: '@Url.Action("Create", "Idle")',
                type: 'get',
                success: function (result) {
                    $(".modal-title").html("Create New Idle News");
                    $(".modal-body").html(result);
                    $(".modal").modal("show");
                },
                error: function (err) {
                    alert(err);
                }
            });
        });

        function GetList() {
            $.ajax({
                url: '@Url.Action("List", "Idle")',
                type: 'get',
                success: function (result) {
                    $("#table-list").html(result);
                }, error(err) {
                    $("#table-list").html(err);
                }
            });
        }

        $(".btn-src").click(function () {
            $.ajax({
                url: '@Url.Action("search", "Idle")',
                type: 'get',
                data: { key: $("#txt-search").val() },
                success: function (result) {
                    $("#_table").html(result);
                }
            });
        })
        $("#txt-search").keyup(function () {
            if ($(this).val() == "") {
                $.ajax({
                    url: '@Url.Action("List", "Idle")',
                    type: 'get',
                    success: function (result) {
                        $("#table-list").html(result);
                    }
                });
            }
            if ($(this).val()) {
                $.ajax({
                    url: '@Url.Action("search", "Idle")',
                    type: 'get',
                    data: { key: $("#txt-search").val() },
                    success: function (result) {
                        $("#table-list").html(result);
                    }
                });
            }
        });
</script>

    }
