﻿@model IEnumerable<MinPro180.ViewModel.VersionViewModel>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.version)
        </th>
        <th>
            <button id="btn-new-version" type="button" class="btn btn-warning btn-new">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.version)
            </td>
            <td>
                <div class="dropdown">
                    <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li class="li-delete" data-id="@item.id"><a href="#">Delete</a></li>
                    </ul>
                </div>
            </td>
        </tr>
    }

</table>

<script type="text/javascript">
          $('#btn-new-version').click(function () {
            $.ajax({
                url: '@Url.Action("Create","Version")',
                type: 'get',
                success: function (result) {
                    $("#mvertitle").html("Create new Version")
                    $("#mverbody").html(result);
                    $("#mver").modal("show")
                },
                error: function (err) {
                    alert(err);
                }
              });
          });

        $(".li-delete").click(function () {
            $.ajax({
                url: '@Url.Action("Delete", "Version")',
                type: 'get',
                data: { id: $(this).attr("data-id") },
                success: function (result) {
                    $("#mvertitle").html("Delete Category");
                    $("#mverbody").html(result);
                    $("#mver").modal("show");
                }
            })

        });
           
</script>