﻿@model MinPro180.ViewModel.VDetailViewModel

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.id);
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.question_id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.question_id, (IEnumerable<SelectListItem>)ViewBag.Questionlist, "-- Question --", new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.question_id, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" id="submitq" value="Save" data-dismiss="modal" class="btn btn-warning" />
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    $("#submitq").click(function () {
            //alert($("#question_id").val())
            $.ajax({
                url: '@Url.Action("Detailitem","Version")',
                type: 'get',
                data: { id: $("#question_id").val() },
                success: function (result) {
                    $("#question-list").append(result);

                }
        });
    });
    





</script>
